= form.fields_for (field.name.to_s + '_translations') do |localized_field|
  - I18n.available_locales.each do |locale|
    = localized_field.label locale
    = localized_field.text_field locale.to_s, field.html_attributes.reverse_merge(value: field.value.try(:[], locale.to_s))